.editor {
    margin: auto;
    text-align: center;
    background-color: #fff;
    padding: 0 0 0 0;
}

#header {
    min-height: 2rem;
    background-color: black;
    color: white;
    padding: 8px;
}

#header #headerTitle {
    float: left;
    padding: 8px 8px;
    font-size: 24px;
    margin-top: -6px;
}

#header .headerMenuItem {
    float: right;
    padding: 8px 8px;
    font-size: 15px;
    cursor: pointer;
}

.toolboxContainer {
    background-color: white;
    padding-top: 4px;
    position: sticky;
    top: 0;
    z-index: 100;
}

#toolbox {
    display: inline-block;
    padding: 8px 16px 6px 16px;
}

#toolbox .widget-group {
    float: left;
    padding: 6px 4px 4px 4px;
    background-color: #efefef;
    border-radius: 2px;
    margin: 2px;
}

#toolbox .text-tools {
    display: inline-block;
}

#toolbox .shape-tools {
    display: inline-block;
}

#toolbox .separator {
    float: left;
    padding: 0 4px;
    color: #aaa;
    margin-top: -2px;
    font-size: 18px;
}

#toolbox .tool-item {
    padding: 2px 4px;
    margin: 0 2px;
    color: #777;
}

.one-more-bar {
    padding: 0.8rem;
    background-color: #eee;
    min-height: 1rem;
}

input[type='range'] {
    accent-color: gray;
}

.canvasContainer {
    display: block;
    padding-top: 2rem;
    padding-left: 1rem;
    overflow: auto;
}

.canvasWrapper {
    display: inline-block;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#jsonInput {
    display: none;
}

#img-input {
    display: none;
}

.transparency-slider {
    accent-color: gray;
}

.dropdown {
    float: left;
    position: relative;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    overflow: hidden;
}

.dropdown:hover .dropbtn {
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: calc(100% + 0px);
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content div {
    float: none;
    color: black;
    padding: 6px 12px;
    font-size: 14px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content div:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#toolbox input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

#toolbox input[type=number]::-webkit-inner-spin-button,
#toolbox input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#toolbox .number-input {
    border: 1px solid #ddd;
    display: inline-flex;
}

#toolbox .number-input,
#toolbox .number-input * {
    box-sizing: border-box;
}

#toolbox .number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.25rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}


#toolbox .number-input button:before,
#toolbox .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 1.5px;
    background-color: #212121;
    transform: translate(-50%, -50%) scale(0.5);
}

#toolbox .number-input button.inc-fontsize:after {
    transform: translate(-50%, -50%) rotate(90deg) scale(0.5);
}

#toolbox .number-input input[type=number] {
    font-family: sans-serif;
    max-width: 2.5rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 1px;
    font-size: 14px;
    height: 1.25rem;
    text-align: center;
}

/* https://codepen.io/DeolaJ/pen/xvjbKY */
.grid-container {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    transition: 1s ease;
}

.sidebar {
    width: 25%;
    height: 100vh;
    transition:0.5s ease;
    position: relative;
    border-left: 1px solid #ccc;
}

.main-content {
    width: 75%;
    height: 100vh;
    background-color: #fefefe;
    transition: 0.5s ease;
}

.main-content_large {
    width: 100%;
}

.sidebar_small {
    width: 0%;
}

.collapse-button {
    position: absolute;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: 15px;
    top: 10px;
    color: gray;
    background-color: rgba(255, 255, 255, 0);
    transform: translateX(-50%);
    cursor: pointer;
}