.editor {
    margin: auto;
    text-align: center;
    background-color: #fff;
    padding: 0 0 0 0;
}

#header {
    background: rgb(30, 30, 45);
    color: white;
    padding: 8px 24px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

#header #headerTitle {
    font-size: 22px;
}

#header .headerMenu {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 16px;
}

#header .headerMenuItem {
    font-size: 14px;
    cursor: pointer;
}

.toolboxContainer {
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.toolbox {
    display: flex;
    padding: 0px 8px 2px 8px;
    overflow-x: auto;
    scrollbar-width: thin;
    border-bottom: 1px solid #ddd;
}

.toolbox::before,
.toolbox::after {
    content: '';
    width: 100%;
}

.toolbox .widget-container {
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    grid-auto-flow: column;
    gap: 4px;
    padding-right: 20px;
}

.toolbox .widget-group {
    display: flex;
    padding: 4px 4px 2px 4px;
    border-radius: 2px;
}

.menuitem-top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 2px;
    width: 48px;
    cursor: pointer;
}

.menuitem-icon {
    font-size: 20px;
}

.menuitem-text {
    font-size: 10px;
    line-height: 1.6;
    font-weight: 500;
}

.toolbox .text-tools {
    display: flex;
}

.toolbox .shape-tools {
    display: flex;
}

.toolbox .separator {
    margin-top: 0px;
    background: #ddd;
    width: 1px;
    height: 24px;
}

.toolbox .tool-item {
    padding: 2px 2px;
    margin: 0 2px;
    color: #000;
    font-size: 1.15rem;
}

.one-more-bar {
    padding: 0.5rem 1rem 1rem 1rem;
    background-color: #eee;
    min-height: 0.8rem;
}

input[type='range'] {
    accent-color: black;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    height: 2px;
    border-radius: 50%;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
    height: 2px;
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb {
    margin-top: -7px;
}

.canvasContainer {
    display: block;
    padding: 4rem;
    background-color: #fafafa;
    overflow: auto;
}

.canvasWrapper {
    display: inline-block;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    z-index: 0;
}

#jsonInput {
    display: none;
}

#img-input {
    display: none;
}

.transparency-slider {
    accent-color: gray;
}

.dropdown {
    float: left;
    position: relative;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    overflow: hidden;
}

.dropdown:hover .dropbtn {
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: calc(100% + 0px);
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content div {
    float: none;
    color: black;
    padding: 6px 12px;
    font-size: 14px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content div:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.toolbox input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.toolbox input[type=number]::-webkit-inner-spin-button,
.toolbox input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.toolbox .number-input {
    border: 1px solid #ddd;
    display: inline-flex;
    padding: 2px;
    margin-top: 6px;
    margin-bottom: 3px;
}

.toolbox .number-input,
.toolbox .number-input * {
    box-sizing: border-box;
}

.toolbox .number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.25rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}


.toolbox .number-input button:before,
.toolbox .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 1.5px;
    background-color: #212121;
    transform: translate(-50%, -50%) scale(0.5);
}

.toolbox .number-input button.inc-fontsize:after {
    transform: translate(-50%, -50%) rotate(90deg) scale(0.5);
}

.toolbox .number-input button.inc-charspace:after {
    transform: translate(-50%, -50%) rotate(90deg) scale(0.5);
}

.toolbox .number-input input[type=number] {
    font-family: sans-serif;
    max-width: 2.5rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 1px;
    font-size: 14px;
    height: 1.25rem;
    text-align: center;
}

/* https://codepen.io/DeolaJ/pen/xvjbKY */
.grid-container {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    transition: 1s ease;
}

.sidebar {
    width: 25%;
    height: 100vh;
    transition: 0.5s ease;
    position: relative;
    border-left: 1px solid #ccc;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.main-content {
    width: 75%;
    height: 100vh;
    background-color: #fefefe;
    transition: 0.5s ease;
}

.main-content_large {
    position: relative;
    width: 100%;
    background-color: #fafafa;
}

.bbProxy {
    position: absolute;
    background-color: rgba(0, 0, 255, 0.1);
    border: 1px rgba(0, 0, 255, 0.2) solid;
    z-index: -1;
}

.sidebar_small {
    width: 0%;
}

.collapse-button {
    display: none;
    position: absolute;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: 15px;
    top: 10px;
    color: gray;
    background-color: rgba(255, 255, 255, 0);
    transform: translateX(-50%);
    cursor: pointer;
}

.zoom-value-container {
    float: right;
    font-size: 12px;
}

.zoom-value {
    width: 48px;
    text-align: center;
}

#sliderRange {
    min-width: 200px;
}

#resizeDialog {
    border-radius: 4px;
    border: 0px;
    font-size: 14px;
}